@import url("https://fonts.googleapis.com/css2?family=Khula&display=swap");

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../media/fonts/Gilroy-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(../media/fonts/Gilroy-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
